body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
  background-color: darkorange;
  
}
.quemsomos{
  background-color: #EEEEEE;
  color: orangered;
}
.margin{
  padding-top: 30px;
  padding-bottom: 50px;
}
.parceiros{
  background-color: cornflowerblue;
}